<div class="resultBox">
  <h3>Oops! Can not get page with:</h3>
  <h4>http://localhost:3000/{{ randomNumber }}</h4>
</div>
<div>
  <button onclick="location.href='/'" id="shortenAnotherBtn">Shorten Another URL</button>
</div>