<div class="resultBox">
  <h3>Success! Please use this link:</h3>
  <a href="http://localhost:3000/{{ randomNumber}}">http://localhost:3000/{{ randomNumber }}</a>
</div>
<div>
  <button id="copyBtn">Copy</button>
  <button onclick="location.href='/'" id="shortenAnotherBtn">Shorten Another</button>
</div>